<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<style>.header.header_inner_page .header_bottom .anchor_menu li a:hover,.header_top .anchor_menu li a:hover,.header_top .btn_button{text-decoration:underline}.header_bottom,.header_top{backdrop-filter:blur(10px)}.header.header_inner_page .header_bottom .anchor_menu li a,.header_top .anchor_menu li a{display:block;padding:5px 22px;text-decoration:none;font-size:18px;line-height:155%;font-weight:400}.btn_button{display:block;border:none;background:var(--new-2);border-radius:0;outline:0;padding:13px 24px;font-weight:600;font-size:16px;line-height:100%;color:var(--white);transition:.3s;text-align:center;cursor:pointer;font-family:var(--font-family);text-decoration:none;position:relative}.btn_button:hover{opacity:.8}.header{position:relative;z-index:10}.header_top{background:var(--text);text-align:right}.header_top .anchor_menu{padding:0;margin:0;list-style:none;font-size:0}.header.header_inner_page .header_bottom .anchor_menu li,.header_top .anchor_menu li{display:inline-block;vertical-align:top}.header_top .anchor_menu li a{color:var(--white)}.header_top .btn_button{display:none;padding:11px 24px}.header_bottom{background:rgba(0,0,0,.3);padding:0 20px}.header_bottom .block_inner{display:flex;padding:17px 0 7px;max-width:1220px}.header_bottom .block_inner .logo{flex:0 0 243px;margin:-44px 0 0;font-size:0}.header_bottom .block_inner .logo a{display:block;text-decoration:none}.header_bottom .block_inner .logo img{width:auto;height:auto}.header_bottom .block_inner .right{flex:1 1 auto;display:flex;justify-content:end;align-items:start}.header_bottom .block_inner .right .phone{flex:0 0 314px;margin-right:33px}.header_bottom .block_inner .right .phone .item{display:flex;align-items:center;gap:10px;font-weight:400;font-size:18px;line-height:155%;color:var(--white);margin-bottom:0}.header_bottom .block_inner .right .phone .item:last-child{margin-bottom:0}.header_bottom .block_inner .right .phone .item a{text-decoration:none;padding-left:24px;position:relative}.header_bottom .block_inner .right .phone .item a:before{content:"";position:absolute;top:0;bottom:0;left:0;width:16px;height:16px;background:url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_662_11288)'%3E%3Cpath d='M8.002 0H7.998C3.587 0 0 3.588 0 8C0 9.75 0.564 11.372 1.523 12.689L0.526 15.661L3.601 14.678C4.866 15.516 6.375 16 8.002 16C12.413 16 16 12.411 16 8C16 3.589 12.413 0 8.002 0Z' fill='%234CAF50' /%3E%3Cpath d='M11.857 11.2256C11.694 11.6857 11.0472 12.0674 10.5313 12.1789C10.1784 12.254 9.71733 12.314 8.16535 11.6705C6.1802 10.8481 4.9018 8.83088 4.80217 8.7C4.70675 8.56912 4 7.63185 4 6.6625C4 5.69314 4.49228 5.22113 4.69071 5.01848C4.85367 4.85213 5.12303 4.77614 5.38141 4.77614C5.46501 4.77614 5.54016 4.78036 5.60771 4.78374C5.80614 4.79218 5.90578 4.804 6.03666 5.11727C6.19962 5.50991 6.59649 6.47926 6.64377 6.5789C6.6919 6.67854 6.74003 6.81364 6.67248 6.94452C6.60915 7.07962 6.55342 7.13957 6.45378 7.25441C6.35415 7.36925 6.25958 7.45706 6.15994 7.58034C6.06874 7.68758 5.96573 7.80242 6.08057 8.00085C6.1954 8.19505 6.59226 8.8427 7.17658 9.36284C7.93061 10.0341 8.54195 10.2486 8.76064 10.3398C8.92361 10.4073 9.11782 10.3913 9.23688 10.2646C9.38802 10.1017 9.57463 9.83147 9.76462 9.56549C9.89972 9.37466 10.0703 9.35102 10.2493 9.41857C10.4317 9.4819 11.3968 9.95897 11.5952 10.0578C11.7937 10.1574 11.9246 10.2047 11.9727 10.2883C12.02 10.3719 12.02 10.7645 11.857 11.2256Z' fill='%23FAFAFA' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_662_11288'%3E%3Crect width='16' height='16' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 50% no-repeat;margin:auto}.header.header_inner_page .header_bottom .block_inner .right .phone .item span,.header_bottom .block_inner .right .phone .item span{color:var(--text2)}.header_bottom .block_inner .right .btn_button{flex:0 0 262px;padding:18px 24px}@media (max-width:1024px){.header_top{background:#000}.header_top .btn_button{display:block;width:255px}.header_top .block_inner{display:flex;justify-content:space-between}.header.header_inner_page .header_bottom .anchor_menu,.header_bottom .block_inner .btn_button,.header_top .block_inner .anchor_menu{display:none}.header_bottom .block_inner{padding:6px 0;align-items:center}.header_bottom .block_inner .logo{flex:0 0 121px;margin:0 0 0 -10px}.header_bottom .block_inner .right .phone{margin:0;flex:0 0 auto}.header_bottom .block_inner .right .phone .item{font-size:15px}.header_bottom .block_inner .right .phone .item:last-child span{width:47px;overflow:hidden}}@media (max-width:370px){.header_bottom .block_inner .logo{flex:0 0 90px}}.header.header_inner_page .header_bottom{box-shadow:0 11px 30px -4px rgba(0,0,0,.15);background:var(--white)}.header.header_inner_page .header_bottom .block_inner .right .phone .item{color:var(--text)}.header.header_inner_page .header_bottom .anchor_menu{padding:0;margin:0;list-style:none;font-size:0;text-align:right}.header.header_inner_page .header_bottom .anchor_menu li a{color:var(--text)}@media (max-width:1200px){.header.header_inner_page .header_bottom .anchor_menu li a{padding:5px 10px}}@media (min-width:1025px){.header.header_inner_page .header_bottom .block_inner{padding:0 0 6px}.header.header_inner_page .header_bottom .block_inner .logo{flex:0 0 283px;margin:0}.header.header_inner_page .header_bottom .block_inner .right{flex-wrap:wrap;padding:15px 0 0}.header.header_inner_page .header_top{display:none}}.slider_top_wr{position:relative;margin-top:-93px;z-index:1}.slider_top_wr .swiper-slide{min-height:calc(100vh - 22px);position:relative;overflow:hidden;padding:93px 20px;background-size:cover;background-position:50%;background-repeat:no-repeat}.slider_top_wr .swiper-slide:before{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(20,20,20,.5)}.slider_top_wr .swiper-slide .block_inner{position:relative;z-index:1;padding:130px 0 30px}.slider_top_wr .swiper-slide .block_inner .body{max-width:790px;opacity:0;transition:.6s;transform:translate(0,50%)}.slider_top_wr .swiper-slide .block_inner .body .title{font-weight:400;font-size:58px;line-height:140%;text-transform:uppercase;color:var(--white);padding-bottom:3px}.slider_top_wr .swiper-slide .block_inner .body .text{font-weight:500;font-size:24px;line-height:155%;color:var(--white);max-width:618px}@media (max-width:1024px){.slider_top_wr{margin-top:-67px}.slider_top_wr .swiper-slide .block_inner{padding:60px 0}}.slider_top_wr .swiper-slide.swiper-slide-active .block_inner .body{transform:translate(0,0);opacity:1}.slider_top_wr .swiper_arrow{position:absolute;bottom:30px;left:20px;right:20px;max-width:1212px;margin:0 auto;z-index:2;display:flex;align-items:center}@media (max-width:767px){.slider_top_wr .swiper-slide{min-height:calc(100vh + 19px)}.slider_top_wr .swiper-slide .block_inner{padding:22px 0}.slider_top_wr .swiper-slide .block_inner .body .title{font-size:32px}.slider_top_wr .swiper-slide .block_inner .body .text{font-size:18px}.slider_top_wr .swiper_arrow{display:none}}.slider_top_wr .swiper_arrow .swiper-pagination{position:static;width:auto}.slider_top_wr .swiper_arrow .swiper-pagination .swiper-pagination-bullet{background:var(--white);opacity:.2;width:8px;height:8px;margin:0 16px 0 0;cursor:pointer}.slider_top_wr .swiper_arrow .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:var(--new-2)}.slider_top_wr .swiper_arrow .swiper_arrow_btn{width:24px;height:24px;background:url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='9.5' stroke='white' /%3E%3Cpath d='M10.5 8L14.5 12L10.5 16' stroke='white' stroke-width='2' /%3E%3C/svg%3E") 50% no-repeat;cursor:pointer;transition:.3s}.slider_top_wr .swiper_arrow .swiper_arrow_btn.swiper-button-disabled{opacity:.2}.slider_top_wr .swiper_arrow .swiper_arrow_btn.swiper-images-prev{transform:rotate(180deg)}.slider_top_wr .swiper_arrow .swiper_arrow_btn.swiper-images-next{margin-left:15px}.slider_top_wr .mySwiper_images{position:relative;z-index:1}</style>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/lightgallery.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="menu_burger">
	<div class="menu_scroll">
		<ul class="anchor_menu">
			<li><a href="#about">О компании</a></li>
			<li><a href="#projects">Проекты</a></li>
			<li><a href="#team">Команда</a></li>
			<li><a href="#work">Как работаем</a></li>
			<li><a href="#reviews">Отзывы</a></li>
			<li><a href="#contacts">Контакты</a></li>
		</ul>
	</div>
</div>
<div class="site_wrapper">
	<header class="header">
		<div class="header_top">
			<div class="block_inner">
				<div class="burger">МЕНЮ</div>
				<ul class="anchor_menu">
					<li><a href="#about">О компании</a></li>
					<li><a href="#projects">Проекты</a></li>
					<li><a href="#team">Команда</a></li>
					<li><a href="#work">Как работаем</a></li>
					<li><a href="#reviews">Отзывы</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
				<a href="" class="btn_button">Обсудить проект</a>
			</div>
		</div>
		<div class="header_bottom">
			<div class="block_inner">
				<div class="logo">
					<a href="">
						<img src="files/logo.png" width="243" height="111" alt="">
					</a>
				</div>
				<div class="right">
					<div class="phone">
						<div class="item">
							<a href="tel:+7 910 193 79 99">+7 910 193 79 99</a>
							<span>Дмитрий</span>
						</div>
						<div class="item">
							<a href="tel:+7 910 377-13-77">+7 910 377-13-77</a>
							<span>Администратор</span>
						</div>
					</div>
					<a href="" class="btn_button">Обсудить проект</a>
				</div>
			</div>
		</div>
	</header>
	<div class="content_block_wr">
		