<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/lightgallery.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="menu_burger">
	<div class="menu_scroll">
		<ul class="anchor_menu">
			<li><a href="#about">О компании</a></li>
			<li><a href="#projects">Проекты</a></li>
			<li><a href="#team">Команда</a></li>
			<li><a href="#work">Как работаем</a></li>
			<li><a href="#reviews">Отзывы</a></li>
			<li><a href="#contacts">Контакты</a></li>
		</ul>
	</div>
</div>
<div class="site_wrapper">
	<header class="header">
		<div class="header_top">
			<div class="block_inner">
				<div class="burger">МЕНЮ</div>
				<ul class="anchor_menu">
					<li><a href="#about">О компании</a></li>
					<li><a href="#projects">Проекты</a></li>
					<li><a href="#team">Команда</a></li>
					<li><a href="#work">Как работаем</a></li>
					<li><a href="#reviews">Отзывы</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
				<a href="" class="btn_button">Обсудить проект</a>
			</div>
		</div>
		<div class="header_bottom">
			<div class="block_inner">
				<div class="logo">
					<a href="">
						<img src="files/logo.png" alt="">
					</a>
				</div>
				<div class="right">
					<div class="phone">
						<div class="item">
							<a href="tel:+7 910 193 79 99">+7 910 193 79 99</a>
							<span>Дмитрий</span>
						</div>
						<div class="item">
							<a href="tel:+7 910 377-13-77">+7 910 377-13-77</a>
							<span>Администратор</span>
						</div>
					</div>
					<a href="" class="btn_button">Обсудить проект</a>
				</div>
			</div>
		</div>
	</header>
	<div class="content_block_wr">
		