include _header.jade
	<div class="slider_top_wr">
		<div class="swiper mySwiper_images">
			<div class="swiper-wrapper">
				<div class="swiper-slide" style="background-image: url(files/slid.jpg);">
					<div class="block_inner">
						<div class="body">
							<div class="title">ВАШ ДОМ. ВАША ИСТОРИЯ ВАША МЕБЕЛЬ</div>
							<div class="text">Индивидуальная мебель ,наполняющая пространство теплом и гармонией.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about_block_wr" id="about">
		<div class="block_inner">
			<div class="left">
				<div class="title">Давайте </div>
				<div class="subtitle">познакомимся</div>
				<div class="name">о компании</div>
				<div class="text">Торгово-промышленная компания “Палаццо” занимается производством мебели по индивидуальным дизайн-проектам и обустройством интерьеров.Находимся мы в прекрасном волжском городе Костроме, а наши изделия украшают квартиры и дома в разных уголках нашей необьятной Родины</div>
			</div>
			<div class="right">
				<div class="play_btn"></div>
				<video src="files/filevideo.mp4" poster="files/video_p.jpg"></video>
			</div>
			<div class="mobile_body">
				<div class="name">о компании</div>
				<div class="text">Торгово-промышленная компания “Палаццо” занимается производством мебели по индивидуальным дизайн-проектам и обустройством интерьеров.Находимся мы в прекрасном волжском городе Костроме, а наши изделия украшают квартиры и дома в разных уголках нашей необьятной Родины</div>
			</div>
		</div>
	</div>
	<div class="projects_block_wr" id="projects">
		<div class="block_inner">
			<div class="title">РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</div>
			<div class="inner">
				<a href="project1.html" class="item">
					<img src="files/project1/project-main.jpg" alt="" width="592" height="315">
					<span class="name">ЖК 1147 г. Москва</span>
				</a>
				<a href="project2.html" class="item">
					<img src="files/project2/project-main.jpg" alt="" width="592" height="315">
					<span class="name">ЖК LIFE Варшавская</span>
				</a>
				<a href="project3.html" class="item">
					<img src="files/project3/project-main.jpg" alt="" width="592" height="315">
					<span class="name">ЖК Shome г. Москва</span>
				</a>
				<a href="project4.html" class="item">
					<img src="files/project4/project-main.jpg" alt="" width="592" height="315">
					<span class="name">ЖК Грюнвальд г. Москва</span>
				</a>
				<a href="project5.html" class="item">
					<img src="files/project5/project-main.jpg" alt="" width="592" height="315">
					<span class="name">ЖК Мацеста г. Сочи</span>
				</a>
				<a href="project6.html" class="item">
					<img src="files/project6/project-main.jpg" alt="" width="592" height="315">
					<span class="name">ЖК Настоящее г.Москва</span>
				</a>
				<a href="project7.html" class="item">
					<img src="files/project7/project-main.jpg" alt="" width="592" height="315">
					<span class="name">ЖК Симфония г.Сочи</span>
				</a>
				<a href="project8.html" class="item">
					<img src="files/project8/project-main.jpg" alt="" width="592" height="315">
					<span class="name">ЖК Филе Град г. Москва</span>
				</a>
				<a href="project9.html" class="item">
					<img src="files/project9/project-main.jpg" alt="" width="592" height="315">
					<span class="name">Ленинский проспект г. Москва</span>
				</a>
				<a href="project10.html" class="item">
					<img src="files/project10/project-main.jpg" alt="" width="592" height="315">
					<span class="name">Мичуринский проспект г.Москва</span>
				</a>
			</div>
			<div class="btn_button btn_more">ПОКАЗАТЬ ЕЩЕ</div>
		</div>
	</div>
	<div class="preim_block_wr">
		<div class="block_inner">
			<div class="title">НАШИ ПРЕИМУЩЕСТВА</div>
			<div class="inner">
				<div class="col">
					<div class="item">
						<div class="icon">
							<img src="files/pr1.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Полная комплектация проекта</div>
							<div class="body">Мы не просто создаем мебель, а полностью комплектуем ваш интерьер – от встроенной техники до аксессуаров. Вам остается только наслаждаться результатом.</div>
						</div>
					</div>
					<div class="item">
						<div class="icon">
							<img src="files/pr2.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Используем только премиальные материалы</div>
							<div class="body">Натуральное дерево, мрамор, кварцевый камень, эксклюзивные текстуры и премиальная фурнитура – мебель, которая будет радовать вас долгие годы.</div>
						</div>
					</div>
					<div class="item">
						<div class="icon">
							<img src="files/pr3.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Точность в деталях – идеальные чертежи и проектирование</div>
							<div class="body">Каждый проект создается с учетом всех нюансов помещения. Грамотные чертежи, 3D-визуализация и точный расчет обеспечивают идеальную реализацию.</div>
						</div>
					</div>
					<div class="item">
						<div class="icon">
							<img src="files/pr4.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Полный цикл производства – от идеи до установки</div>
							<div class="body">Мы берем на себя весь процесс: от первых эскизов до финального монтажа. Вам не нужно беспокоиться о деталях – мы все продумываем за вас.</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="item">
						<div class="icon">
							<img src="files/pr5.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Уникальный дизайн под ваш стиль и образ жизни</div>
							<div class="body">Мы не работаем по шаблонам – каждая кухня, шкаф или интерьерный элемент создается индивидуально, с учетом ваших пожеланий и привычек</div>
						</div>
					</div>
					<div class="item">
						<div class="icon">
							<img src="files/pr6.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Инновационные технологии и продуманные решени</div>
							<div class="body">Скрытые системы хранения, умная организация пространства, доводчики, push-to-open – все для вашего комфорта и удобства.</div>
						</div>
					</div>
					<div class="item">
						<div class="icon">
							<img src="files/pr7.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Контроль качества на каждом этапе</div>
							<div class="body">Мы уделяем внимание каждой детали – от выбора материалов до установки, чтобы результат соответствовал высочайшим стандартам.</div>
						</div>
					</div>
					<div class="item">
						<div class="icon">
							<img src="files/pr8.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Гарантия и сервисное сопровождение</div>
							<div class="body">Мы уверены в качестве своей мебели, поэтому предоставляем гарантию и остаемся на связи даже после установки.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper mySwiper_preim">
				<div class="swiper-wrapper">
					<div class="item swiper-slide">
						<div class="icon">
							<img src="files/pr1.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Полная комплектация проекта</div>
							<div class="body">Мы не просто создаем мебель, а полностью комплектуем ваш интерьер – от встроенной техники до аксессуаров. Вам остается только наслаждаться результатом.</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="icon">
							<img src="files/pr2.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Используем только премиальные материалы</div>
							<div class="body">Натуральное дерево, мрамор, кварцевый камень, эксклюзивные текстуры и премиальная фурнитура – мебель, которая будет радовать вас долгие годы.</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="icon">
							<img src="files/pr3.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Точность в деталях – идеальные чертежи и проектирование</div>
							<div class="body">Каждый проект создается с учетом всех нюансов помещения. Грамотные чертежи, 3D-визуализация и точный расчет обеспечивают идеальную реализацию.</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="icon">
							<img src="files/pr4.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Полный цикл производства – от идеи до установки</div>
							<div class="body">Мы берем на себя весь процесс: от первых эскизов до финального монтажа. Вам не нужно беспокоиться о деталях – мы все продумываем за вас.</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="icon">
							<img src="files/pr5.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Уникальный дизайн под ваш стиль и образ жизни</div>
							<div class="body">Мы не работаем по шаблонам – каждая кухня, шкаф или интерьерный элемент создается индивидуально, с учетом ваших пожеланий и привычек</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="icon">
							<img src="files/pr6.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Инновационные технологии и продуманные решени</div>
							<div class="body">Скрытые системы хранения, умная организация пространства, доводчики, push-to-open – все для вашего комфорта и удобства.</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="icon">
							<img src="files/pr7.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Контроль качества на каждом этапе</div>
							<div class="body">Мы уделяем внимание каждой детали – от выбора материалов до установки, чтобы результат соответствовал высочайшим стандартам.</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="icon">
							<img src="files/pr8.svg" alt="">
						</div>
						<div class="right">
							<div class="name">Гарантия и сервисное сопровождение</div>
							<div class="body">Мы уверены в качестве своей мебели, поэтому предоставляем гарантию и остаемся на связи даже после установки.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper_arrow">
				<div class="swiper-pagination_preim"></div>
				<div class="swiper_arrow_btn swiper-preim-prev"></div>
				<div class="swiper_arrow_btn swiper-preim-next"></div>
			</div>
		</div>
	</div>				
	<div class="team_block_wr" id="team">
		<div class="block_inner">
			<div class="title_block">
				<div class="title"><span>КОМАНДА  </span>люди,которые с вами всегда на связи</div>
				<div class="subtitle">НО! За нами стоит большая команда, которая воплощает в жизнь , все, что задумано в ваших проектах.</div>
			</div>
			<div class="swiper mySwiper_team">
				<div class="swiper-wrapper">
					<div class="item swiper-slide">
						<div class="image">
							<img src="files/team1.jpg" width="280" height="420" alt="">
						</div>
						<div class="body">
							<div class="name">Тощакова Елена</div>
							<div class="text">владелец компании, профессиональный мебельщик, деятель искусств, член союза дизайнеров России</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="image">
							<img src="files/team2.jpg" width="280" height="420" alt="">
						</div>
						<div class="body">
							<div class="name">Перков Дмитрий</div>
							<div class="text">руководитель отдела продаж, сопровождающий проекты. технический специалист, профессиональный мебельщик</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="image">
							<img src="files/team3.jpg" width="280" height="420" alt="">
						</div>
						<div class="body">
							<div class="name">Чичерина Юлия</div>
							<div class="text">администратор компании,готовый помочь клиенту в любой ситуации и ответить на любой вопрос</div>
						</div>
					</div>
					<div class="item swiper-slide">
						<div class="image">
							<img src="files/team4.jpg" width="280" height="420" alt="">
						</div>
						<div class="body">
							<div class="name">Строителева Наталья</div>
							<div class="text">менеджер проектов,дизайнер</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="work_block_wr" id="work">
		<div class="block_inner">
			<div class="title">Как мы работаем</div>
			<div class="swiper mySwiper_work">
				<div class="swiper-wrapper">
					<div class="item swiper-slide">
						<div class="number">
							<span>1.</span>
							<div class="name">Расчет стоимости</div>
						</div>
						<div class="body">колько будет стоить ваша новая мебель, мы посчитаем после получения дизайн проекта. Вы получите подробную смету.</div>
					</div>
					<div class="item swiper-slide">
						<div class="number">
							<span>2.</span>
							<div class="name">Выезд дизайнера и замерщика на место</div>
						</div>
						<div class="body">Наш специалист привозит с собой образцы материалов, вместе с вами или вашим дизайнером выбирает те, что подойдут в вашем случае. Замерщик промеряет помещения, учитывает точки выхода коммуникаций и производит фотосъемку.</div>
					</div>
					<div class="item swiper-slide">
						<div class="number">
							<span>3.</span>
							<div class="name">Составление предварительного проекта</div>
						</div>
						<div class="body">После снятия черновых замеров технический отдел прорабатывает конструктивное решение мебели с учетом размеров помещения, существующих коммуникаций и электрики, затем проводит окончательные расчеты. При необходимости переноса электрики или коммуникаций наши специалисты подготавливают соответствующие схемы.</div>
					</div>
					<div class="item swiper-slide">
						<div class="number">
							<span>4.</span>
							<div class="name">Контрольный замер</div>
						</div>
						<div class="body">После того как в вашем помещении завершена стадия отделки, замерщик выезжает на контрольный замер. Это необходимо для того, чтобы мебель идеально вписалась в помещение.</div>
					</div>
					<div class="item swiper-slide">
						<div class="number">
							<span>5.</span>
							<div class="name">Сроки производства</div>
						</div>
						<div class="body">Для качественного изготовления мебели требуется не менее двух месяцев. Соответственно вам стоит заранее обратиться в салон для просчета и заказа мебели</div>
					</div>
					<div class="item swiper-slide">
						<div class="number">
							<span>6.</span>
							<div class="name">Сервис и гарантийное обслуживание</div>
						</div>
						<div class="body">Мы предоставляем услуги по доставке и установке мебели. Предусмотрено гарантийное обслуживание мебели.</div>
					</div>
				</div>
			</div>
			<div class="swiper_arrow">
				<div class="swiper-pagination_work"></div>
				<div class="swiper_arrow_btn swiper-work-prev"></div>
				<div class="swiper_arrow_btn swiper-work-next"></div>
			</div>
		</div>
	</div>
	<div class="active_block_wr">
		<div class="block_inner">
			<div class="title">Наша социальная и профессиональная активность</div>
			<div class="block_text">
				<div class="text">Мы-активная компания и постоянно учавствуем в отраслевых выставках и мероприятиях по дизайну,также наши успехи отмечают администрация города и области</div>
				<div class="swiper_arrow">
					<div class="swiper-pagination_active"></div>
					<div class="swiper_arrow_btn swiper-active-prev"></div>
					<div class="swiper_arrow_btn swiper-active-next"></div>
				</div>
			</div>
		</div>
		<div class="swiper mySwiper_active">
			<div class="swiper-wrapper">
				<a href="files/ac1.jpg" class="item swiper-slide" width="280" height="302">
					<img src="files/ac1.jpg" alt="">
				</a>
				<a href="files/ac2.jpg" class="item swiper-slide" width="280" height="302">
					<img src="files/ac2.jpg" alt="">
				</a>
				<a href="files/ac3.jpg" class="item swiper-slide" width="280" height="302">
					<img src="files/ac3.jpg" alt="">
				</a>
				<a href="files/ac4.jpg" class="item swiper-slide" width="280" height="302">
					<img src="files/ac4.jpg" alt="">
				</a>
				<a href="files/ac5.jpg" class="item swiper-slide" width="280" height="302">
					<img src="files/ac5.jpg" alt="">
				</a>
				<a href="files/ac6.jpg" class="item swiper-slide" width="280" height="302">
					<img src="files/ac6.jpg" alt="">
				</a>
				<a href="files/ac7.jpg" class="item swiper-slide" width="280" height="302">
					<img src="files/ac7.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="block_inner block_border">
			<div class="text">Мы-активная компания и постоянно учавствуем в отраслевых выставках и мероприятиях по дизайну,также наши успехи отмечают администрация города и области</div>
		</div>
	</div>
	<div class="partner_block_wr">
		<div class="image_bg" style="background-image: url(files/part_bg.jpg);"></div>
		<div class="image_bg" style="background-image: url(files/part_bg2.jpg);"></div>
		<div class="image_bg" style="background-image: url(files/part_bg3.jpg);"></div>
		<div class="image_bg" style="background-image: url(files/part_bg4.jpg);"></div>
		<div class="image_bg" style="background-image: url(files/part_bg5.jpg);"></div>
		<div class="image_bg" style="background-image: url(files/part_bg6.jpg);"></div>
		<div class="image_bg" style="background-image: url(files/part_bg7.jpg);"></div>
		<div class="image_bg" style="background-image: url(files/part_bg8.jpg);"></div>
		<div class="block_inner">
			<div class="title">Посмотрите, <strong>что говорят наши партнеры</strong></div>
			<div class="slider_inner">
				<div class="swiper mySwiper_partner">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="right">
								<div class="image">
									<img src="files/part.jpg" alt="">
								</div>
								<div class="name">Имя фамилия</div>
								<div class="date">00 месяц 2000</div>
								<a href="" class="link">Посмотреть профиль Вконакте</a>
							</div>
							<div class="text_block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including</div>
						</div>
						<div class="swiper-slide">
							<div class="right">
								<div class="image">
									<img src="files/part.jpg" alt="">
								</div>
								<div class="name">Имя фамилия</div>
								<div class="date">00 месяц 2000</div>
								<a href="" class="link">Посмотреть профиль Вконакте</a>
							</div>
							<div class="text_block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not  </div>
						</div>
						<div class="swiper-slide">
							<div class="right">
								<div class="image">
									<img src="files/part.jpg" alt="">
								</div>
								<div class="name">Имя фамилия</div>
								<div class="date">00 месяц 2000</div>
								<a href="" class="link">Посмотреть профиль Вконакте</a>
							</div>
							<div class="text_block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not  </div>
						</div>
						<div class="swiper-slide">
							<div class="right">
								<div class="image">
									<img src="files/part.jpg" alt="">
								</div>
								<div class="name">Имя фамилия</div>
								<div class="date">00 месяц 2000</div>
								<a href="" class="link">Посмотреть профиль Вконакте</a>
							</div>
							<div class="text_block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not  </div>
						</div>
						<div class="swiper-slide">
							<div class="right">
								<div class="image">
									<img src="files/part.jpg" alt="">
								</div>
								<div class="name">Имя фамилия</div>
								<div class="date">00 месяц 2000</div>
								<a href="" class="link">Посмотреть профиль Вконакте</a>
							</div>
							<div class="text_block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not  </div>
						</div>
						<div class="swiper-slide">
							<div class="right">
								<div class="image">
									<img src="files/part.jpg" alt="">
								</div>
								<div class="name">Имя фамилия</div>
								<div class="date">00 месяц 2000</div>
								<a href="" class="link">Посмотреть профиль Вконакте</a>
							</div>
							<div class="text_block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not  </div>
						</div>
						<div class="swiper-slide">
							<div class="right">
								<div class="image">
									<img src="files/part.jpg" alt="">
								</div>
								<div class="name">Имя фамилия</div>
								<div class="date">00 месяц 2000</div>
								<a href="" class="link">Посмотреть профиль Вконакте</a>
							</div>
							<div class="text_block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not  </div>
						</div>
						<div class="swiper-slide">
							<div class="right">
								<div class="image">
									<img src="files/part.jpg" alt="">
								</div>
								<div class="name">Имя фамилия</div>
								<div class="date">00 месяц 2000</div>
								<a href="" class="link">Посмотреть профиль Вконакте</a>
							</div>
							<div class="text_block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not  </div>
						</div>
					</div>
				</div>
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-partner-prev"></div>
					<div class="swiper_arrow_btn swiper-partner-next"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="reviews_block_wr" id="reviews">
		<div class="block_inner">
			<div class="title">отзывы КЛИЕНТОВ</div>
			
		</div>
	</div>
include _footer.jade