include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/prod1.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">Квартира  название проекта</h1>
					<div class="body">Но явные признаки победы институционализации призывают нас к новым свершениям, которые, в свою очередь, должны быть своевременно верифицированы. А также независимые государства превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В своём стремлении повысить качество жизни, они забывают, что высокое качество позиционных исследований влечет за собой процесс внедрения и модернизации поэтапного и последовательного развития общества.</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/prod2.jpg">
						<img src="files/prod2.jpg" alt="">
					</a>
					<a href="files/prod3.jpg">
						<img src="files/prod3.jpg" alt="">
					</a>
					<a href="files/prod4.jpg">
						<img src="files/prod4.jpg" alt="">
					</a>
					<a href="files/prod5.jpg">
						<img src="files/prod5.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">	
					<a href="files/prod6.jpg">
						<img src="files/prod6.jpg" alt="">
					</a>
					<a href="files/prod7.jpg">
						<img src="files/prod7.jpg" alt="">
					</a>
					<a href="files/prod8.jpg">
						<img src="files/prod8.jpg" alt="">
					</a>
					<a href="files/prod9.jpg">
						<img src="files/prod9.jpg" alt="">
					</a>
					<a href="files/prod10.jpg">
						<img src="files/prod10.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">
					<a href="files/prod11.jpg">
						<img src="files/prod11.jpg" alt="">
					</a>
					<a href="files/prod12.jpg">
						<img src="files/prod12.jpg" alt="">
					</a>
					<a href="files/prod13.jpg">
						<img src="files/prod13.jpg" alt="">
					</a>
					<a href="files/prod14.jpg">
						<img src="files/prod14.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade