include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/project9/project-main.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">Ленинский проспект г. Москва</h1>
					<div class="body">
						<p>Современный интерьер квартиры в ЖК «Ленинский проспект», Москва</p>
						<p>Жилой комплекс «Ленинский проспект» в Москве — это пространство для тех, кто ценит стиль, функциональность и уют. Дизайн этой квартиры создан с акцентом на природные материалы, теплые оттенки и лаконичные формы, создавая гармоничное пространство для жизни.</p>
						<p>Главная зона квартиры — просторная кухня-гостиная, наполненная светом и текстурным разнообразием. Деревянные панели, бетонные поверхности и графитовые элементы создают баланс между современностью и природной эстетикой.</p>
						<p>Ключевые особенности интерьера:</p>
						<ul>
							<li>Акцентная ТВ-зона: комбинация серого камня, деревянных панелей и встроенной подсветки создаёт эффектную композицию, привлекающую внимание.</li>
							<li>Функциональные модули: сочетание открытых и закрытых секций мебели позволяет сохранять порядок, не перегружая пространство.</li>
							<li>Глубокие оттенки: изумрудное кресло с мягкой текстурой добавляет интерьеру уют и цветовой баланс.</li>
							<li>Огромные окна: просторное остекление делает интерьер светлым и открытым, обеспечивая прекрасный вид на город.</li>
						</ul>
						<p>Кухонная зона выдержана в общем стиле квартиры — чистые линии, натуральные материалы и функциональные решения.</p>
						<p>Главные детали кухни:</p>
						<ul>
							<li>Гладкие фасады без лишних деталей обеспечивают лаконичный и дорогой вид.</li>
							<li>Фартук и столешница выполнены из текстурного камня, который добавляет интерьеру фактурности.</li>
							<li>Освещение на нескольких уровнях: встроенные светильники и акцентные подвесные лампы обеспечивают комфортное использование кухни в любое время суток.</li>
							<li>Компактная обеденная зона, сочетающая в себе элегантность и удобство, идеально подходит как для быстрых завтраков, так и для вечерних посиделок.</li>
						</ul>
						<p>Квартира в ЖК «Ленинский проспект» — это пример стильного современного интерьера, где комфорт сочетается с эстетикой. Натуральные материалы, продуманная эргономика и тёплая атмосфера делают это пространство идеальным для жизни в динамичном мегаполисе.</p>
					</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/project9/project-2.jpg">
						<img src="files/project9/project-2.jpg" alt="">
					</a>
					<a href="files/project9/project-3.jpg">
						<img src="files/project9/project-3.jpg" alt="">
					</a>
					<a href="files/project9/project-4.jpg">
						<img src="files/project9/project-4.jpg" alt="">
					</a>
					<a href="files/project9/project-5.jpg">
						<img src="files/project9/project-5.jpg" alt="">
					</a>					
				</div>
				<div class="gall_block">	
					<a href="files/project9/project-1.jpg">
						<img src="files/project9/project-1.jpg" alt="">
					</a>
					<a href="files/project9/project-6.jpg">
						<img src="files/project9/project-6.jpg" alt="">
					</a>
					<a href="files/project9/project-7.jpg">
						<img src="files/project9/project-7.jpg" alt="">
					</a>
					<a href="files/project9/project-8.jpg">
						<img src="files/project9/project-8.jpg" alt="">
					</a>
					<a href="files/project9/project-9.jpg">
						<img src="files/project9/project-9.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">
					<a href="files/project9/project-10.jpg">
						<img src="files/project9/project-10.jpg" alt="">
					</a>
					<a href="files/project9/project-11.jpg">
						<img src="files/project9/project-11.jpg" alt="">
					</a>
					<a href="files/project9/project-12.jpg">
						<img src="files/project9/project-12.jpg" alt="">
					</a>
					<a href="files/project9/project-13.jpg">
						<img src="files/project9/project-13.jpg" alt="">
					</a>
					<a href="files/project9/project-14.jpeg">
						<img src="files/project9/project-14.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">
					<a href="files/project9/project-15.jpg">
						<img src="files/project9/project-15.jpg" alt="">
					</a>
					<a href="files/project9/project-16.jpg">
						<img src="files/project9/project-16.jpg" alt="">
					</a>
					<a href="files/project9/project-17.jpg">
						<img src="files/project9/project-17.jpg" alt="">
					</a>
					<a href="files/project9/project-18.jpg">
						<img src="files/project9/project-18.jpg" alt="">
					</a>
					<a href="files/project9/project-19.jpeg">
						<img src="files/project9/project-19.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">
					<a href="files/project9/project-20.jpg">
						<img src="files/project9/project-20.jpg" alt="">
					</a>
					<a href="files/project9/project-21.jpg">
						<img src="files/project9/project-21.jpg" alt="">
					</a>
					<a href="files/project9/project-22.jpg">
						<img src="files/project9/project-22.jpg" alt="">
					</a>
					<a href="files/project9/project-23.jpg">
						<img src="files/project9/project-23.jpg" alt="">
					</a>
					<a href="files/project9/project-24.jpeg">
						<img src="files/project9/project-24.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade