include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/project6/project-main.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">ЖК Настоящее г.Москва</h1>
					<div class="body">
						<p>Современный минимализм в ЖК «Настоящее», Москва</p>
						<p>Квартира в ЖК «Настоящее» — это воплощение минимализма и эргономики в современном интерьере. Пространство наполнено четкими геометрическими линиями, сдержанной цветовой гаммой и продуманными функциональными решениями. Здесь нет лишних деталей — каждая зона гармонична и логично вписана в общую концепцию.</p>
						<p>Гостиная: элегантная лаконичность</p>
						<p>Гостиная зона объединяет визуальную строгость и домашний уют.</p>
						<p>Главные особенности:</p>
						<ul>
							<li>Монолитная мебель с чистыми формами создает ощущение цельности и порядка. </li>
							<li>Теплые древесные оттенки в напольном покрытии смягчают строгие серые и графитовые акценты.</li>
							<li>Подсветка на уровне пола и потолочные трековые светильники придают интерьеру глубину и стиль.</li>
							<li>Встроенные системы хранения помогают поддерживать пространство в идеальной чистоте.</li>
						</ul>		
						<p>Кухня: баланс формы и функционала</p>
						<p>Кухонная зона выполнена в единообразной цветовой гамме, создавая ощущение цельности:</p>
						<ul>
							<li>Гладкие фасады без ручек делают гарнитур элегантным и современным.</li>
							<li>Темная фурнитура и сантехника добавляют выразительности и контраста.</li>
							<li>Открытые полки с мягкой подсветкой делают интерьер визуально легким, создавая игру света и теней.</li>
							<li>Барная стойка, совмещенная с диванной спинкой, позволяет функционально зонировать пространство без перегородок.</li>
						</ul>	
						<p>Этот интерьер в ЖК «Настоящее» идеально подойдет для ценителей лаконичности, комфорта и функциональности. Пространство наполнено современными решениями, которые делают жизнь удобной и стильной. Здесь минимализм приобретает не только эстетический, но и практический смысл, создавая атмосферу спокойствия и уюта в динамичном мегаполисе.</p>	
					</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/project6/project-1.jpg">
						<img src="files/project6/project-1.jpg" alt="">
					</a>
					<a href="files/project6/project-2.jpg">
						<img src="files/project6/project-2.jpg" alt="">
					</a>
					<a href="files/project6/project-3.jpg">
						<img src="files/project6/project-3.jpg" alt="">
					</a>
					<a href="files/project6/project-4.jpg">
						<img src="files/project6/project-4.jpg" alt="">
					</a>
					<a href="files/project6/project-5.jpg">
						<img src="files/project6/project-5.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">	
					<a href="files/project6/project-6.jpg">
						<img src="files/project6/project-6.jpg" alt="">
					</a>
					<a href="files/project6/project-7.jpg">
						<img src="files/project6/project-7.jpg" alt="">
					</a>
					<a href="files/project6/project-8.jpg">
						<img src="files/project6/project-8.jpg" alt="">
					</a>
					<a href="files/project6/project-9.jpg">
						<img src="files/project6/project-9.jpg" alt="">
					</a>
					<a href="files/project6/project-10.jpg">
						<img src="files/project6/project-10.jpg" alt="">
					</a>					
				</div>
				<div class="gall_block">
					<a href="files/project6/project-11.jpg">
						<img src="files/project6/project-11.jpg" alt="">
					</a>
					<a href="files/project6/project-12.jpg">
						<img src="files/project6/project-12.jpg" alt="">
					</a>
					<a href="files/project6/project-13.jpg">
						<img src="files/project6/project-13.jpg" alt="">
					</a>
					<a href="files/project6/project-14.jpg">
						<img src="files/project6/project-14.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade