include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/project8/project-main.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">ЖК Филе Град г. Москва</h1>
					<div class="body">
						<p>Современный интерьер квартиры в ЖК «Фили-Град», Москва</p>
						<p>Жилой комплекс «Фили-Град» в Москве — это уникальное пространство для жизни, сочетающее удобство мегаполиса и уют современного дизайна. Интерьер квартиры отражает баланс элегантности, функциональности и минималистичной роскоши.</p>
						<p>Квартира выполнена в светлой палитре с акцентами на благородные тёмные оттенки. Основой пространства стали натуральные материалы: древесина с тёплой текстурой, камень с выразительным рисунком и бархатистые ткани.</p>
						<p>Особое внимание уделено освещению: подвесные светильники с металлическими элементами создают стильный индустриальный акцент, а встроенные точечные лампы равномерно распределяют мягкий свет, делая пространство уютным и объемным.</p>
						<p>Продуманная эргономика позволяет объединить гостиную и кухню в комфортное пространство, идеально подходящее как для отдыха, так и для общения.</p>
					</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/project8/project-2.jpg">
						<img src="files/project8/project-2.jpg" alt="">
					</a>
					<a href="files/project8/project-3.jpg">
						<img src="files/project8/project-3.jpg" alt="">
					</a>
					<a href="files/project8/project-4.jpg">
						<img src="files/project8/project-4.jpg" alt="">
					</a>
					<a href="files/project8/project-5.jpg">
						<img src="files/project8/project-5.jpg" alt="">
					</a>	
					<a href="files/project8/project-1.jpg">
						<img src="files/project8/project-1.jpg" alt="">
					</a>
					<a href="files/project8/project-6.jpg">
						<img src="files/project8/project-6.jpg" alt="">
					</a>				
				</div>
				<div class="gall_block">						
					<a href="files/project8/project-7.jpg">
						<img src="files/project8/project-7.jpg" alt="">
					</a>
					<a href="files/project8/project-8.jpg">
						<img src="files/project8/project-8.jpg" alt="">
					</a>
					<a href="files/project8/project-9.jpg">
						<img src="files/project8/project-9.jpg" alt="">
					</a>
					<a href="files/project8/project-10.jpg">
						<img src="files/project8/project-10.jpg" alt="">
					</a>
					<a href="files/project8/project-11.jpg">
						<img src="files/project8/project-11.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade