include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/project7/project-main.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">ЖК Симфония г.Сочи</h1>
					<div class="body">
						<p>ЖК «Симфония» в Сочи — это воплощение стильной современности, где комфорт сочетается с изысканностью. Интерьер квартиры отражает гармонию пространства, высокое качество материалов и внимание к деталям, создавая атмосферу роскоши и уюта.</p>
						<p>Дизайн квартиры выдержан в нейтральной палитре с акцентами глубокого синего цвета, что придаёт интерьеру благородство и выразительность. Глянцевые поверхности в сочетании с текстурным мрамором и стеклом создают игру фактур, визуально расширяя пространство.</p>
						<p>Освещение продумано до мелочей: линейные встроенные светильники подчёркивают геометрию интерьера, а эффектная люстра с золотистыми элементами вносит нотки шика и индивидуальности. Раздвижные деревянные панели помогают зонировать пространство, сохраняя его легкость и открытость.</p>
						<p>Мебель выдержана в лаконичном стиле: мягкие фактуры, плавные линии и продуманная эргономика обеспечивают комфорт и эстетику. Обеденная зона оформлена в светлых тонах, что делает её идеальным местом для отдыха и приёма гостей.</p>
					</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/project7/project-1.jpg">
						<img src="files/project7/project-1.jpg" alt="">
					</a>
					<a href="files/project7/project-2.jpg">
						<img src="files/project7/project-2.jpg" alt="">
					</a>
					<a href="files/project7/project-3.jpg">
						<img src="files/project7/project-3.jpg" alt="">
					</a>
					<a href="files/project7/project-4.jpg">
						<img src="files/project7/project-4.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">	
					<a href="files/project7/project-5.jpg">
						<img src="files/project7/project-5.jpg" alt="">
					</a>
					<a href="files/project7/project-6.jpg">
						<img src="files/project7/project-6.jpg" alt="">
					</a>
					<a href="files/project7/project-7.jpg">
						<img src="files/project7/project-7.jpg" alt="">
					</a>
					<a href="files/project7/project-8.jpg">
						<img src="files/project7/project-8.jpg" alt="">
					</a>					
				</div>
				<div class="gall_block">
					<a href="files/project7/project-9.jpg">
						<img src="files/project7/project-9.jpg" alt="">
					</a>
					<a href="files/project7/project-10.jpg">
						<img src="files/project7/project-10.jpg" alt="">
					</a>
					<a href="files/project7/project-11.jpg">
						<img src="files/project7/project-11.jpg" alt="">
					</a>
					<a href="files/project7/project-12.jpg">
						<img src="files/project7/project-12.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade