include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/project2/project-main.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">ЖК LIFE Варшавская, Москва </h1>
					<div class="body">
						<p>	Общая концепция квартиры <br>	Эта квартира в ЖК LIFE Варшавская представляет собой сочетание современных тенденций и функциональности. Пространство оформлено в сдержанной, но выразительной цветовой гамме, где преобладают глубокие оттенки зелени, серого и нюдовые тона. Особое внимание уделено материалам: здесь присутствуют гладкие глянцевые поверхности, текстурные панели и натуральное дерево, создающие баланс уюта и современности.</p>
						<p>Кухня: Эстетика и эргономика <br>	Кухонная зона впечатляет лаконичным, но стильным дизайном. Фасады шкафов выполнены в благородном оттенке глубокого зелёного с матовым покрытием, создавая трендовое и одновременно не перегруженное пространство. Черные глянцевые вставки добавляют контраста и глубины. Освещение встроено в мебель, что подчёркивает современный характер интерьера. Полы из полированного керамогранита с имитацией мрамора визуально расширяют пространство и делают его лёгким и воздушным.</p>
						<p>Современная техника интегрирована в мебель, что обеспечивает удобство и максимальную функциональность. Рабочая зона выполнена в тёмных тонах, что делает её практичной и стильной, а встроенная подсветка делает готовку комфортной в любое время суток.</p>
						<p>Интерьер квартиры в ЖК LIFE Варшавская – это пример гармоничного сочетания функциональности, современных материалов и утончённого дизайна. Здесь каждая деталь продумана до мелочей, создавая стильное и комфортное пространство для жизни.</p>
					</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/project2/project-1.jpg">
						<img src="files/project2/project-1.jpg" alt="">
					</a>
					<a href="files/project2/project-2.jpg">
						<img src="files/project2/project-2.jpg" alt="">
					</a>
					<a href="files/project2/project-3.jpg">
						<img src="files/project2/project-3.jpg" alt="">
					</a>
					<a href="files/project2/project-11.jpg">
						<img src="files/project2/project-11.jpg" alt="">
					</a>
					<a href="files/project2/project-4.jpg">
						<img src="files/project2/project-4.jpg" alt="">
					</a>					
				</div>
				<div class="gall_block">	
					<a href="files/project2/project-5.jpg">
						<img src="files/project2/project-5.jpg" alt="">
					</a>
					<a href="files/project2/project-15.jpg">
						<img src="files/project2/project-15.jpg" alt="">
					</a>
					<a href="files/project2/project-6.jpg">
						<img src="files/project2/project-6.jpg" alt="">
					</a>
					<a href="files/project2/project-7.jpg">
						<img src="files/project2/project-7.jpg" alt="">
					</a>
					<a href="files/project2/project-8.jpg">
						<img src="files/project2/project-8.jpg" alt="">
					</a>					
				</div>
				<div class="gall_block">
					<a href="files/project2/project-9.jpg">
						<img src="files/project2/project-9.jpg" alt="">
					</a>
					<a href="files/project2/project-10.jpg">
						<img src="files/project2/project-10.jpg" alt="">
					</a>
					<a href="files/project2/project-13.jpg">
						<img src="files/project2/project-13.jpg" alt="">
					</a>
					<a href="files/project2/project-14.jpg">
						<img src="files/project2/project-14.jpg" alt="">
					</a>					
					<a href="files/project2/project-16.jpg">
						<img src="files/project2/project-16.jpg" alt="">
					</a>
					<a href="files/project2/project-12.jpg">
						<img src="files/project2/project-12.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade