include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/project5/project-main.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">ЖК Мацеста г. Сочи</h1>
					<div class="body">
						<p>Современный интерьер в ЖК «Мацеста», г. Сочи: гармония уюта и функциональности</p>
						<p>ЖК «Мацеста» — это сочетание современного комфорта и природной эстетики в прекрасном городе Сочи. Дизайн квартиры отражает идею легкости, уюта и функциональности, идеально подходя для комфортного проживания в курортном городе.В этой небольшой квартире -студии убралось все !</p>
						<p>Интерьер выдержан в теплых, натуральных оттенках с акцентом на природные материалы. Зеленые акцентные стены с фактурной отделкой напоминают о живописных лесах Мацесты, а сочетание мраморного пола и деревянных элементов создаёт баланс между элегантностью и природной естественностью.</p>
						<p>Пространство грамотно зонировано: мягкие перегородки из деревянных реек отделяют спальню от гостиной и кухни, сохраняя ощущение единства пространства. Подвесные светильники с прозрачными плафонами добавляют воздушности, а встроенные шкафы обеспечивают достаточное количество мест для хранения без утяжеления интерьера.</p>
						<p>Мягкая зона отдыха оформлена в пастельных тонах, а желтое кресло добавляет интерьеру солнечного настроения, характерного для Сочи.</p>
						<p>Благодаря продуманной планировке кухня органично вписывается в общее пространство квартиры, обеспечивая удобство и функциональность без ощущения перегруженности.</p>
					</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/project5/project-1.jpg">
						<img src="files/project5/project-1.jpg" alt="">
					</a>
					<a href="files/project5/project-2.jpg">
						<img src="files/project5/project-2.jpg" alt="">
					</a>
					<a href="files/project5/project-3.jpg">
						<img src="files/project5/project-3.jpg" alt="">
					</a>
					<a href="files/project5/project-4.jpg">
						<img src="files/project5/project-4.jpg" alt="">
					</a>
					<a href="files/project5/project-5.jpg">
						<img src="files/project5/project-5.jpg" alt="">
					</a>					
				</div>
				<div class="gall_block">	
					<a href="files/project5/project-6.jpg">
						<img src="files/project5/project-6.jpg" alt="">
					</a>
					<a href="files/project5/project-7.jpg">
						<img src="files/project5/project-7.jpg" alt="">
					</a>
					<a href="files/project5/project-8.jpg">
						<img src="files/project5/project-8.jpg" alt="">
					</a>
					<a href="files/project5/project-9.jpg">
						<img src="files/project5/project-9.jpg" alt="">
					</a>
					<a href="files/project5/project-10.jpg">
						<img src="files/project5/project-10.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade