include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/project3/project-main.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">Элегантный интерьер с характером в ЖК Shome, Москва</h1>
					<div class="body">
						<p>	Добро пожаловать в эксклюзивный интерьер квартиры в ЖК Shome, где стильная эклектика, продуманная эргономика и богатая палитра оттенков создают атмосферу уюта и утонченности. Здесь каждая деталь гармонично вписывается в общий дизайн, объединяя винтажные элементы с современными трендами.</p>
						<p>Этот интерьер — настоящий гимн индивидуальности и вниманию к деталям. Пространство наполнено выразительными цветами, фактурными материалами и тщательно подобранными аксессуарами.</p>
						<p>Дизайнерское решение строится на игре контрастов: классические формы мебели соседствуют с экстравагантными принтами, глубокие насыщенные оттенки сочетаются с природными материалами, а ретро-детали органично вписаны в современный ритм жизни.</p>
						<p>Гостиная – сердце дома, объединяющее эстетику и комфорт. Здесь глубокий изумрудный диван задает тон всему интерьеру, а этнический ковер с ярким орнаментом добавляет динамики и уютной эклектики. Внимание притягивает эффектный подвесной светильник с красным потолочным основанием – стильный акцент, подчеркивающий нестандартный подход к оформлению. На стене расположена галерея лаконичных постеров, которая дополняет графичность пространства.</p>
						<p>Большие встроенные шкафы с застекленными дверцами обеспечивают не только практичность, но и визуальную легкость. Использование стекла позволяет сохранять ощущение простора, а латунная фурнитура придает мебели утонченность.</p>
						<p>Полы, выполненные из теплого дерева в классической елочке, создают ощущение уюта и респектабельности, плавно перетекая из зоны гостиной в кухню и прихожую.</p>
						<p>Кухня – баланс уюта и функциональности <br>Кухня в этой квартире — это настоящий дизайнерский шедевр, объединяющий ретро-нотки и современные решения.</p>
						<p>Главный цветовой акцент — насыщенный темно-зеленый, который придает кухонному гарнитуру глубину и элегантность. Мебельные фасады выполнены из натурального шпона и стекла, а медная и латунная фурнитура добавляют теплоты и благородства.</p>
						<p>Открытые деревянные полки создают ощущение легкости и делают пространство живым и динамичным. На них расположены стильные аксессуары: стеклянная посуда, корзины, декоративные растения. Белая плитка с фактурной поверхностью делает пространство более светлым и воздушным, а акцентные бра над рабочей зоной придают интерьеру изысканность.</p>
						<p>Обеденная зона органично встроена в интерьер и представляет собой уютное пространство с круглым деревянным столом и эффектными стульями, каждый из которых выполнен в индивидуальном дизайне. Здесь есть и винтажные мотивы, и современный анималистичный принт, что подчеркивает творческий характер интерьера.</p>
						<p>Теплая цветовая палитра, натуральные материалы и необычные фактуры делают эту кухню не только стильной, но и по-настоящему уютной. Здесь хочется проводить время, готовить и наслаждаться атмосферой уюта.</p>
						<p>Интерьер квартиры в ЖК Shome, Москва — это смелое и гармоничное сочетание классики, ретро-ноток и современных тенденций. Дизайн продуман до мелочей, каждая деталь выполняет не только эстетическую, но и функциональную роль. Это пространство создано для тех, кто ценит стиль, комфорт и оригинальные решения в оформлении интерьера.</p>
					</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/project3/project-1.jpg">
						<img src="files/project3/project-1.jpg" alt="">
					</a>
					<a href="files/project3/project-2.jpg">
						<img src="files/project3/project-2.jpg" alt="">
					</a>
					<a href="files/project3/project-3.jpg">
						<img src="files/project3/project-3.jpg" alt="">
					</a>
					<a href="files/project3/project-4.jpg">
						<img src="files/project3/project-4.jpg" alt="">
					</a>
					<a href="files/project3/project-5.jpg">
						<img src="files/project3/project-5.jpg" alt="">
					</a>
					<a href="files/project3/project-6.jpg">
						<img src="files/project3/project-6.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">	
					<a href="files/project3/project-7.jpg">
						<img src="files/project3/project-7.jpg" alt="">
					</a>
					<a href="files/project3/project-8.jpg">
						<img src="files/project3/project-8.jpg" alt="">
					</a>
					<a href="files/project3/project-9.jpg">
						<img src="files/project3/project-9.jpg" alt="">
					</a>
					<a href="files/project3/project-10.jpg">
						<img src="files/project3/project-10.jpg" alt="">
					</a>
					<a href="files/project3/project-11.jpg">
						<img src="files/project3/project-11.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade