include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/project1/project-main.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">ЖК 1147 г. Москва</h1>
					<div class="body">
						<p>	Добро пожаловать в стильное и современное пространство, расположенное в престижном жилом комплексе 1147. Эта квартира — олицетворение изысканного дизайна, продуманной эргономики и высококлассных материалов. Современная отделка в сдержанных тонах, тщательно продуманное освещение и использование натуральных текстур создают гармоничную атмосферу уюта и элегантности.</p>
						<p>С первого взгляда интерьер производит впечатление продуманного до мелочей дизайна. Входная зона оформлена с использованием зеркальных панелей и скрытой LED-подсветки, что визуально расширяет пространство. Глянцевый мраморный пол с выразительным узором добавляет интерьеру роскоши, а сочетание тёмного дерева с мягким светом создает эффект глубины.</p>
						<p>Кухня — это сердце дома, и в этой квартире ей уделено особое внимание. Фасады выполнены из темного натурального шпона, придающего интерьеру благородство и строгость. Встроенная техника Bosch органично вписывается в дизайн, обеспечивая комфорт и удобство в приготовлении пищи. В нижней части гарнитура предусмотрен винный шкаф, который станет отличным дополнением для любителей коллекционного вина.</p>
						<p>Современные материалы, скрытая система хранения и продуманные детали делают эту кухню не только визуально привлекательной, но и максимально удобной в повседневной эксплуатации.</p>
						<p>Интерьер квартиры в ЖК 1147 — это идеальный баланс между роскошью, минимализмом и функциональностью. Каждый элемент дизайна тщательно продуман, создавая атмосферу, где комфорт и стиль сливаются воедино.</p>
					</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/project1/project-1.jpg">
						<img src="files/project1/project-1.jpg" alt="">
					</a>
					<a href="files/project1/project-2.jpg">
						<img src="files/project1/project-2.jpg" alt="">
					</a>
					<a href="files/project1/project-3.jpg">
						<img src="files/project1/project-3.jpg" alt="">
					</a>
					<a href="files/project1/project-4.jpg">
						<img src="files/project1/project-4.jpg" alt="">
					</a>
					<a href="files/project1/project-5.jpg">
						<img src="files/project1/project-5.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">	
					<a href="files/project1/project-6.jpg">
						<img src="files/project1/project-6.jpg" alt="">
					</a>
					<a href="files/project1/project-7.jpg">
						<img src="files/project1/project-7.jpg" alt="">
					</a>
					<a href="files/project1/project-8.jpg">
						<img src="files/project1/project-8.jpg" alt="">
					</a>
					<a href="files/project1/project-9.jpg">
						<img src="files/project1/project-9.jpg" alt="">
					</a>
					<a href="files/project1/project-10.jpg">
						<img src="files/project1/project-10.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade