include _header_inner.jade
	<div class="block_inner_page">
		<div class="block_inner">
			<div class="image">
				<img src="files/project4/project-main.jpg" alt="div">
			</div>
			<div class="text_block">
				<div class="left">
					<h1 class="title">ЖК Грюнвальд г. Москва</h1>
					<div class="body">
						<p>Современный интерьер с природными мотивами в ЖК «Грюнвальд», Москва</p>
						<p>ЖК «Грюнвальд» — это место, где природа и городской ритм соединяются в гармонии. Интерьер квартиры выполнен в современном стиле с элементами биофильного дизайна: натуральные материалы, обилие дерева, вертикальное озеленение и панорамные окна создают атмосферу уюта, тепла и связи с природой.</p>
						<p>Пространство квартиры наполнено естественным светом, который усиливает игру фактур и оттенков. В оформлении преобладают спокойные природные тона: древесные текстуры, мягкие серые и бежевые оттенки, стабилизированный  мох на стенах.</p>
					</div>
				</div>
				<div class="right">
					<div class="price">300 000 руб.</div>
					<ul>
						<li>Работаем в различных стилях</li>
						<li>Используем качественные и экологичные материалы</li>
						<li>Европейская фурнитура</li>
						<li>Качественный монтаж</li>
					</ul>
				</div>
			</div>
			<div class="gall_block_wr">
				<div class="gall_block">
					<a href="files/project4/project-2.jpg">
						<img src="files/project4/project-2.jpg" alt="">
					</a>
					<a href="files/project4/project-3.jpg">
						<img src="files/project4/project-3.jpg" alt="">
					</a>
					<a href="files/project4/project-4.jpg">
						<img src="files/project4/project-4.jpg" alt="">
					</a>
					<a href="files/project4/project-5.jpg">
						<img src="files/project4/project-5.jpg" alt="">
					</a>					
				</div>
				<div class="gall_block">	
					<a href="files/project4/project-1.jpg">
						<img src="files/project4/project-1.jpg" alt="">
					</a>
					<a href="files/project4/project-6.jpg">
						<img src="files/project4/project-6.jpg" alt="">
					</a>
					<a href="files/project4/project-7.jpg">
						<img src="files/project4/project-7.jpg" alt="">
					</a>
					<a href="files/project4/project-8.jpg">
						<img src="files/project4/project-8.jpg" alt="">
					</a>
					<a href="files/project4/project-9.jpg">
						<img src="files/project4/project-9.jpg" alt="">
					</a>
				</div>
				<div class="gall_block">
					<a href="files/project4/project-10.jpg">
						<img src="files/project4/project-10.jpg" alt="">
					</a>
					<a href="files/project4/project-11.jpg">
						<img src="files/project4/project-11.jpg" alt="">
					</a>
					<a href="files/project4/project-12.jpg">
						<img src="files/project4/project-12.jpg" alt="">
					</a>
					<a href="files/project4/project-13.jpg">
						<img src="files/project4/project-13.jpg" alt="">
					</a>
					<a href="files/project4/project-14.jpeg">
						<img src="files/project4/project-14.jpeg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>																	
include _footer.jade